@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");

/*! temel css baslangici */
*{
    margin: 0; /* tarayicinin kenar bosluklari icin*/
}

body{
    height: 200vh; /*sidebar uzunluk ayarı icin*/
    font-family: 'News Cycle', sans-serif;
}

.container{
    background-color: black;
    color: white;
}
/*! temel css bitisi */

/*! navbar başlangıcı */
.navbar{
    background-color: #1c1c1c;
    height: 50px;
    color: white;
    position: sticky; /*navbarın sabit olması için*/
    top: 0;
}

.navbar-wrapper{
    display: flex; /*yan yana getirmek için*/
    justify-content: space-between; /*başta ortada sonda olması için*/
    height: 100%;
    padding: 0 50px; /*yukarı aşagı0 sagdan soldan 50px boşluk*/
}

.logo{
    font-size: 30px;
    color: rgb(170, 73, 255);
}

.menu-list{
    display: flex; /*menudeki listeleri yan yana getiriyor*/
    list-style: none; /*liste başındaki nokktayı istemiyoruz*/
    column-gap: 30px; /*aralarını 30px aç*/
    padding: 10px 50px; /*ben ekledm*/
}

.menu-list-item{
    cursor: pointer; /*tıklanabilir olması için*/
}

.menu-list-item:hover{
    font-weight: bold; /*tıklama esnasında yazının kalınlaşması için*/
}

.menu-list-item.active{
    font-weight: bold; /*ana sayfada olduğu için daha kalın olcak*/
}

.profile-container{
    display: flex; /*yan yana sıralamak için*/
    align-items: center; /*dikeyde de hizala*/
    column-gap: 20px; /*aralarına 20px boşluk bırak*/
}

.profile-picture{
    width: 32px;
    height: 32px;
    object-fit: cover; /*görüntünün basık olmaması için*/
    border-radius: 50%; /*yuvarlak olması için resmin*/
}

.profile-text-container{
    display: flex;
    align-items: center;
    column-gap: 5px;
    line-height: 1; /*aynı hizada olması için hesabım ve yanındaki ikon için*/
}

.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative; /*toggle ballın pozisyonu için*/
    border-radius: 30px;
    display: flex; /*yatayda */
    align-items: center; /*dikeyde*/
    justify-content: space-around; /*kenar boşluğu beyaz kısımdakı*/
}

.toggle-icon{
    color: goldenrod;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: rgb(170, 73, 255);
    border-radius: 50%;
    cursor: pointer; /*fareyi götürünce*/
    position: absolute; /*eksenini değiştirmek için*/
    right: 1px; /*sağa 1px yaklaştır*/
}
/*! navbar bitisi */

/*! sidebar başlangıcı */
.sidebar{
    background-color: #1c1c1c;
    color: white;
    height: 100%; /*asagi dogru uzun olmasi icin*/
    width: 50px;
    display: flex;
    flex-direction: column; /*alt alta sıralamak için*/
    align-items: center; /*bulunduğu sırada ortalamak için*/
    padding-top: 60px; /*boşluklar için*/
    row-gap: 40px; /*ikonların birbirine uzaklığı*/
    position: fixed; /* sidebarın sabit durması için */
    top: 0;
}

.sidebar i{
    /* sidebarın içindeki tüm i ler (ikonlar) */
    color: white;
    font-size: 17px;
    cursor: pointer; /* fareyi üsütne getirince değişecek */
}
/*! sidebar bitisi */

/* ! featured baslangici */
.content-wrapper{
    margin-left: 50px;
}

.featured-content{
    background: url("img/f0.jpg");
    padding: 50px;
    height: calc(100vh-150px);
    /*height: 100vh;*/
    background-size: 100% 100%;
}

.featured-title{
    width: 420px;
}

.featured-desc{
    width: 500px;
    background-color: rgba(189, 178, 207, 0.4);
    padding: 10px;
    margin: 30px 0;
    font-size: 13.8px;
}

.featured-buttons{
    display: flex; /*yan yana getir butonları*/
    column-gap: 20px; /* aralarına 20px boşluk koy */
}

.featured-buttons button{
    /* featured-buttons daki butonların her birine */
    padding: 10px 25px; /* yukardan aşağıdan 10 sağdan soldan 25px padding */
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    column-gap: 10px;/* ikonlarla arasını açmak için */
    font-size: 13px;
    font-weight: bold;
    background-color: rgba(189, 178, 207, 0.8);
}

.featured-buttons .info-button{
    background-color: rgba(189, 178, 207, 0.3);
    color: white;
}
/*! featured bitisi */

/*! Filter Başlangıcı */
.movie-list-filter{
    margin: 20px 0 20px 50px; /* yukarıdan 20px sağdan 0 aşağıdan 20px soldan 50px */
    padding: 20px; /* sol taraftan 20px padding */
}

.movie-list-filter select{
    background-color: #1c1c1c;
    color: white;
    padding: 7px 0; /* yukardan aşağıdan 7 sağdan soldan 0 */
    width: 125px;
}
/*! Filter Bitişi */